* {
	margin: 0;
	padding: 0;
}

html, body {
	background: #303030;
	height: 100%;
}

#distance { 
	width: 1px;
	height: 50%;
	margin-bottom: -316px; /* half of container's height minus height of banner*/
	float: left;
}

#header, #container, #footer {
	margin: 0 auto;
	position: relative;
	clear: left;
	overflow: hidden;
}

#header {
	background: url(img/header.png) 0 0;
	height: 100px;
	width: 700px;
}

#container {
	height: 432px;
	width: 1020px;
}

#footer {
	margin-top: 20px;
	height: 50px;
	width: 700px;
}

#content {
	width: 700px;
	margin-left: 160px;
	margin-right: 160px;
}

#left, #right {
	width: 140px;
	height: 429px;
	top: 0px;
	overflow: hidden;
	position: absolute;
}

#left {
	left: 0px;
	margin-right: 20px;
	text-align: right;
}

#right {
	right: 0px;
	margin-left: 20px;
	text-align: left;
}

.cell {
	float: left;
	display: inline;
	overflow: hidden;
	width: 175px;
	height: 108px;
}

.clear {
	clear: both;
	height: 0px;
	visibility: hidden;
	display: none;
}

.left, .right, .bottom {
	display: block;
	height: 100%;
	width: 100%;
}

.left {
	background: url(img/left.png) 0 0;
}

.right {
	background: url(img/right.png) 0 0;
}

.bottom {
	background: url(img/bottom.png) 0 0;
}

.hide {
	position: absolute;
	top: 9999px; /* flush text out of sight */
}

a {
	display: block;
	height: 100%;
	width: 100%;
}

#left p, #right p, #right a, #right a:hover, #right a:focus, #right a:active, #right a:visited,
#left a, #left a:hover, #left a:focus, #left a:active, #left a:visited {
	font: lighter 11px/11px 'HelveticaNeue-Light','Arial',sans-serif;
	text-decoration: none;
}

#left p, #right p {
	color: #101010;
	margin-bottom: 11px;
}

#right a, #right a:hover, #right a:focus, #right a:active, #right a:visited,
#left a, #left a:hover, #left a:focus, #left a:active, #left a:visited {
	color: #000000;
	display: inline;
}

a:active, a:focus {
	outline: 0;
}

img {
	border: 0px;
}

a.facebook {
	background: url(img/facebook.png) 0 0;
}

a.ctk {
	background: url(img/ctk.png) 0 0;
}

a.travel {
	background: url(img/travel.png) 0 0;
}

a.reddit {
	background: url(img/reddit.png) 0 0;
}

a.twitter {
	background: url(img/twitter.png) 0 0;
}

a.lastfm {
	background: url(img/lastfm.png) 0 0;
}

a.blog {
	background: url(img/blog.png) 0 0;
}

a.cv {
	background: url(img/cv.png) 0 0;
}

a:hover {
	background-position: -175px 0px;
}