* {
	margin: 0;
	padding: 0;
}

html, body {
	background: #303030;
	height: 100%;
}

#distance { 
	width: 1px;
	height: 50%;
	margin-bottom: -316px; /* half of container's height minus height of banner*/
	float: left;
}

#header {
	background: url(img/header.png);
	margin: 0 auto;
	position: relative; /* puts header in front of distance */
	height: 100px;
	width: 700px;
	clear: left;
	padding: 0px;
	overflow: hidden;
}

#header a {
	font-size: 80px;
	line-height: 100px; /* for vertical centering */
	letter-spacing: 1px;
	word-spacing: 30px;
	color: #979797;
}

#container {
	margin: 0 auto;
	position: relative; /* puts container in front of header */
	height: 432px;
	width: 1020px;
	clear: left;
	padding: 0px;
	overflow: hidden;
}

#left {
	width: 140px;
	height: 429px; /* multiple of 11 - the font-size/line-height/line-spacing */
	top: 0px;
	left: 0px;
	overflow: hidden;
	margin-right: 20px;
	position: absolute;
	text-align: right;
}

#right {
	width: 140px;
	height: 429px; /* multiple of 11 - the font-size/line-height/line-spacing */
	top: 0px;
	right: 0px;
	overflow: hidden;
	margin-left: 20px;
	position: absolute;
	text-align: left;
}

#right a, #right a:hover, #right a:focus, #right a:active, #right a:visited {
	font-family: 'HelveticaNeue-Light','Arial',sans-serif;
	color: #161616;
	font-weight: lighter;
	text-decoration: none;
	display: inline;
}

#content {
	width: 700px;
	margin-left: 160px;
	margin-right: 160px;
}

#footer {
	margin: 0 auto;
	margin-top: 20px;
	position: relative; /* puts footer in front of content */
	height: 50px;
	width: 700px;
	clear:left;
	padding:0px;
	text-align: center;
}

.cell {
	float:left;
	display: inline;
	overflow: hidden;
	width: 175px;
	height: 108px;
}

.cell a {
	font-size: 26px;
	line-height: 108px; /* for vertical centering */
	color: #2D2D2D;
	-webkit-text-stroke: 1px #242424; /* webkit only */
}

.clear {
	clear: both;
	height: 0px;
	visibility: hidden;
	display: none;
}

.hide {
	position: absolute;
	top: 9999px; /* flush text out of sight */
}

p {
	font-family: 'HelveticaNeue-Light','Arial',sans-serif;
	font-size: 11px;
	line-height: 11px;
	font-weight: lighter;
	text-decoration: none;
	color: #1b1b1b;
	margin-bottom: 11px;
}

a {
	display: block;
	height: 100%;
	width: 100%;
	font-family: 'Georgia';
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

/* text within background-images used since text-shadow is not very well supported */

a.facebook {
	text-shadow: 0px 2px 3px #278ad6;
	background: url(img/facebook.png) 0 0;
}

a.ctk {
	text-shadow: 0px 2px 3px #d9b341;
	background: url(img/ctk.png) 0 0;
}

a.travel {
	text-shadow: 0px 2px 3px #e67740;
	background: url(img/travel.png) 0 0;
}

a.reddit {
	text-shadow: 0px 2px 3px #3b762a;
	background: url(img/reddit.png) 0 0;
}

a.twitter {
	text-shadow: 0px 2px 3px #b3245d;
	background: url(img/twitter.png) 0 0;
}

a.lastfm {
	text-shadow: 0px 2px 3px #d94141;
	background: url(img/lastfm.png) 0 0;
}

a.delicious {
	text-shadow: 0px 2px 3px #15828b;
	background: url(img/delicious.png) 0 0;
}

a.cv {
	text-shadow: 0px 2px 3px #7f239e;
	background: url(img/cv.png) 0 0;
}

a:hover {
	background-position: -175px 0px; /* for highlighting */
}

a:active, a:focus {
	outline: 0;
}

img {
	border: 0px;
}